// Global Styles

* {
    margin: 0;
    padding: 0;
}

.visually-hidden {
 position: absolute;
 overflow: hidden;
 clip: rect(0 0 0 0);
 height: 1px;
 width: 1px;
 margin: -1px;
 padding: 0;
 border: 0; 
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #233D4D;
  ;
}

.icon {
  color: white;
}

.hide-dots {
  visibility: hidden;
  opacity: 0;
}

// Variables
$iphoneMessage: #E88D67;
// $bodyColor: red;
$black: #000000;
$grey: #C0C0C0;
$white: #ffffff;
$borderColor:  #A1C181;

// Style Mixins

@mixin display-flex() {
  display: flex;
}

@mixin white-font($font-size) {
  font-size: $font-size;
  color: white;
  font-weight: 300;
  letter-spacing: 2.7px;
  line-height: 25px;
}

// Breakpoint Mixins 

@mixin break-point($point) {
  @if $point == desktop {
    @media (max-width: 940px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == big-phone {
    @media (max-width: 450px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 320px)  { @content; }
  }
}
