// Global Styles

* {
    margin: 0;
    padding: 0;
}

.visually-hidden {
 position: absolute;
 overflow: hidden;
 clip: rect(0 0 0 0);
 height: 1px;
 width: 1px;
 margin: -1px;
 padding: 0;
 border: 0; 
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(33, 45, 64, 0.9);
}

li {
  list-style: none;
}
.icon {
  color: white;
}

.hide-dots {
  visibility: hidden;
  opacity: 0;
}

// Variables
$phone: rgba(105, 153, 93, 0.8);
$message: rgba(241, 143, 1, 0.7);
$final: rgba(225, 85, 84, 0.8);
$white: #ffffff;
$borderColor:  #A1C181;

// Style Mixins

@mixin display-flex() {
  display: flex;
}

@mixin white-font($font-size) {
  font-size: $font-size;
  color: $white;
  font-weight: 300;
  letter-spacing: 2.7px;
  line-height: 25px;
}

@mixin label-font {
  font-size: 1.7rem;
  padding: 7px;
  color: $white;
  font-weight: 300;
  letter-spacing: 2.7px;
  line-height: 25px;
  text-transform: uppercase;
}

@mixin label-font-block {
  font-size: 1.6rem;
  text-align: center;
  display: block;
  color: $white;
  padding: 7px 0;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2.7px;
  line-height: 25px;
  text-transform: uppercase;
}

// Breakpoint Mixins 

@mixin break-point($point) {
  @if $point == small-desktop {
    @media (max-width: 940px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == big-phone {
    @media (max-width: 450px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 320px)  { @content; }
  }
}
