.header {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color:rgba(33, 45, 64, 1);
    z-index: 20;
    padding: 1px;
    transition: 1s all ease;
        .wrapper {
            @include display-flex();
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100%;
            max-width: 1080px;
            margin: 0 auto;
        }
        .sorry {
            color: #d33f49;
            text-transform: uppercase;
            font-weight: 700;
        }
        h1 {
            @include header-font(12rem);  
            // small-desktop break-point
            @include break-point(small-desktop) {
                @include header-font(7rem);
                margin-bottom: 25px;
            }
            // tablet break-point
            @include break-point(tablet) {
                @include header-font(5rem);
            }
            // big-phone break-point
            @include break-point(big-phone) {
                @include header-font(3.2rem);
                margin-bottom: 20px;
            }
            @include break-point(small-phone) {
                @include header-font(2.3rem);
                margin-bottom: 5px;
            }
        }
        p {
            font-family: 'Karla', sans-serif;
            color: white;
            line-height: 45px;
            font-size: 3rem;
            text-align: center;
            margin: 10px 0;
            // small-desktop break-point
            @include break-point(small-desktop) {
                font-size: 2.5rem;
            }
            @include break-point(tablet) {
                font-size: 2rem;
                line-height: 30px;
                color: green;
            }
            // big-phone break-point
            @include break-point(big-phone) {
                font-size: 1.6rem;
                line-height: 22px;
                color: blue;
            }
            // small-phone break-point
            @include break-point(small-phone) {
                font-size: 1.1rem;
                line-height: 20px;
                color: red;
            }
        }
        .start {
            font-family: 'Karla', sans-serif;
            background: white;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 20px 0;
            border-radius: 100px;
            border: none;
            padding: 15px;
            transition: all 1s ease;
            // small-desktop break-point
            @include break-point(small-desktop) {
                font-size: 1.7rem;
            }
            // big-phone break-point
            @include break-point(big-phone) {
                margin-top: 10px;
                font-size: 1.5rem;
                padding: 12px;
                letter-spacing: 1px;
            }
            // small-phone break-point
            @include break-point(small-phone) {
                margin-top: 3px;
                font-size: 1.2rem;
                padding: 8px;
            }
                &:hover {
                    background: $final;
                }
        }
    }

.display-none {
    display: none;
    transition: 1s all ease;
}





 