article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: rgba(33, 45, 64, 0.9); }

li {
  list-style: none; }

.icon {
  color: white; }

.hide-dots {
  visibility: hidden;
  opacity: 0; }

.header {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #212d40;
  z-index: 20;
  padding: 1px;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease; }
  .header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto; }
  .header h1 {
    font-size: 12rem;
    font-family: 'Karla', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(241, 143, 1, 0.7), 2px 2px 1px rgba(241, 143, 1, 0.7), 3px 3px 1px rgba(241, 143, 1, 0.7), 4px 4px 1px rgba(241, 143, 1, 0.7), 5px 5px 1px rgba(241, 143, 1, 0.7), 6px 6px 1px rgba(241, 143, 1, 0.7), 7px 7px 1px rgba(241, 143, 1, 0.7), 8px 8px 1px rgba(241, 143, 1, 0.7), 9px 9px 1px rgba(225, 85, 84, 0.8), 10px 10px 1px rgba(225, 85, 84, 0.8), 11px 11px 1px rgba(225, 85, 84, 0.8), 12px 12px 1px rgba(225, 85, 84, 0.8), 13px 13px 1px rgba(225, 85, 84, 0.8), 14px 14px 1px rgba(225, 85, 84, 0.8), 15px 15px 1px rgba(225, 85, 84, 0.8), 16px 16px 1px rgba(225, 85, 84, 0.8), 17px 17px 1px rgba(225, 85, 84, 0.8), 18px 18px 1px rgba(225, 85, 84, 0.8); }
    @media (max-width: 940px) {
      .header h1 {
        font-size: 7rem;
        font-family: 'Karla', sans-serif;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(241, 143, 1, 0.7), 2px 2px 1px rgba(241, 143, 1, 0.7), 3px 3px 1px rgba(241, 143, 1, 0.7), 4px 4px 1px rgba(241, 143, 1, 0.7), 5px 5px 1px rgba(241, 143, 1, 0.7), 6px 6px 1px rgba(241, 143, 1, 0.7), 7px 7px 1px rgba(241, 143, 1, 0.7), 8px 8px 1px rgba(241, 143, 1, 0.7), 9px 9px 1px rgba(225, 85, 84, 0.8), 10px 10px 1px rgba(225, 85, 84, 0.8), 11px 11px 1px rgba(225, 85, 84, 0.8), 12px 12px 1px rgba(225, 85, 84, 0.8), 13px 13px 1px rgba(225, 85, 84, 0.8), 14px 14px 1px rgba(225, 85, 84, 0.8), 15px 15px 1px rgba(225, 85, 84, 0.8), 16px 16px 1px rgba(225, 85, 84, 0.8), 17px 17px 1px rgba(225, 85, 84, 0.8), 18px 18px 1px rgba(225, 85, 84, 0.8);
        margin-bottom: 25px; } }
    @media (max-width: 768px) {
      .header h1 {
        font-size: 5rem;
        font-family: 'Karla', sans-serif;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(241, 143, 1, 0.7), 2px 2px 1px rgba(241, 143, 1, 0.7), 3px 3px 1px rgba(241, 143, 1, 0.7), 4px 4px 1px rgba(241, 143, 1, 0.7), 5px 5px 1px rgba(241, 143, 1, 0.7), 6px 6px 1px rgba(241, 143, 1, 0.7), 7px 7px 1px rgba(241, 143, 1, 0.7), 8px 8px 1px rgba(241, 143, 1, 0.7), 9px 9px 1px rgba(225, 85, 84, 0.8), 10px 10px 1px rgba(225, 85, 84, 0.8), 11px 11px 1px rgba(225, 85, 84, 0.8), 12px 12px 1px rgba(225, 85, 84, 0.8), 13px 13px 1px rgba(225, 85, 84, 0.8), 14px 14px 1px rgba(225, 85, 84, 0.8), 15px 15px 1px rgba(225, 85, 84, 0.8), 16px 16px 1px rgba(225, 85, 84, 0.8), 17px 17px 1px rgba(225, 85, 84, 0.8), 18px 18px 1px rgba(225, 85, 84, 0.8); } }
    @media (max-width: 450px) {
      .header h1 {
        font-size: 3.5rem;
        font-family: 'Karla', sans-serif;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(241, 143, 1, 0.7), 2px 2px 1px rgba(241, 143, 1, 0.7), 3px 3px 1px rgba(241, 143, 1, 0.7), 4px 4px 1px rgba(241, 143, 1, 0.7), 5px 5px 1px rgba(241, 143, 1, 0.7), 6px 6px 1px rgba(241, 143, 1, 0.7), 7px 7px 1px rgba(241, 143, 1, 0.7), 8px 8px 1px rgba(241, 143, 1, 0.7), 9px 9px 1px rgba(225, 85, 84, 0.8), 10px 10px 1px rgba(225, 85, 84, 0.8), 11px 11px 1px rgba(225, 85, 84, 0.8), 12px 12px 1px rgba(225, 85, 84, 0.8), 13px 13px 1px rgba(225, 85, 84, 0.8), 14px 14px 1px rgba(225, 85, 84, 0.8), 15px 15px 1px rgba(225, 85, 84, 0.8), 16px 16px 1px rgba(225, 85, 84, 0.8), 17px 17px 1px rgba(225, 85, 84, 0.8), 18px 18px 1px rgba(225, 85, 84, 0.8);
        margin-bottom: 20px; } }
    @media (max-width: 320px) {
      .header h1 {
        font-size: 3rem;
        font-family: 'Karla', sans-serif;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(241, 143, 1, 0.7), 2px 2px 1px rgba(241, 143, 1, 0.7), 3px 3px 1px rgba(241, 143, 1, 0.7), 4px 4px 1px rgba(241, 143, 1, 0.7), 5px 5px 1px rgba(241, 143, 1, 0.7), 6px 6px 1px rgba(241, 143, 1, 0.7), 7px 7px 1px rgba(241, 143, 1, 0.7), 8px 8px 1px rgba(241, 143, 1, 0.7), 9px 9px 1px rgba(225, 85, 84, 0.8), 10px 10px 1px rgba(225, 85, 84, 0.8), 11px 11px 1px rgba(225, 85, 84, 0.8), 12px 12px 1px rgba(225, 85, 84, 0.8), 13px 13px 1px rgba(225, 85, 84, 0.8), 14px 14px 1px rgba(225, 85, 84, 0.8), 15px 15px 1px rgba(225, 85, 84, 0.8), 16px 16px 1px rgba(225, 85, 84, 0.8), 17px 17px 1px rgba(225, 85, 84, 0.8), 18px 18px 1px rgba(225, 85, 84, 0.8);
        margin-bottom: 10px; } }
  .header p {
    font-family: 'Karla', sans-serif;
    color: white;
    line-height: 45px;
    font-size: 3rem;
    text-align: center;
    margin: 10px 0; }
    @media (max-width: 940px) {
      .header p {
        font-size: 2.5rem; } }
    @media (max-width: 768px) {
      .header p {
        font-size: 2rem; } }
    @media (max-width: 450px) {
      .header p {
        font-size: 1.6rem;
        line-height: 32px; } }
    @media (max-width: 320px) {
      .header p {
        font-size: 1.2rem; } }
  .header .start {
    font-family: 'Karla', sans-serif;
    background: white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
    border-radius: 100px;
    border: none;
    padding: 15px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    @media (max-width: 940px) {
      .header .start {
        font-size: 1.7rem; } }
    @media (max-width: 450px) {
      .header .start {
        margin-top: 10px;
        font-size: 1.5rem;
        padding: 12px;
        letter-spacing: 1px; } }
    @media (max-width: 320px) {
      .header .start {
        margin-top: 7px;
        font-size: 1.3rem;
        padding: 10px; } }
    .header .start:hover {
      background: rgba(225, 85, 84, 0.8); }

.display-none {
  display: none;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease; }

.phone {
  width: 40%;
  margin: 0 auto;
  margin-top: 7px;
  height: 98vh;
  position: relative;
  font-size: 2rem;
  -webkit-box-shadow: 5px 10px 37px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 10px 37px -2px rgba(0, 0, 0, 0.75); }
  @media (max-width: 940px) {
    .phone {
      width: 80%; } }
  @media (max-width: 450px) {
    .phone {
      width: 100%;
      height: 90vh;
      margin-top: 0; } }
  @media (max-width: 320px) {
    .phone {
      width: 100%;
      height: 90vh;
      margin-top: 0; } }
  .phone .phone-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.3rem;
    width: 100%;
    background-color: rgba(105, 153, 93, 0.97);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10; }
    @media (max-width: 940px) {
      .phone .phone-heading {
        width: 100%; } }
    @media (max-width: 450px) {
      .phone .phone-heading {
        width: 100%;
        position: absolute; } }
    @media (max-width: 320px) {
      .phone .phone-heading {
        width: 100%;
        position: absolute; } }
    .phone .phone-heading .phone-utils {
      width: 10%; }
    .phone .phone-heading .contact-info {
      width: 80%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    .phone .phone-heading .phone-info {
      width: 10%;
      height: 34px;
      display: block;
      text-align: center; }
      .phone .phone-heading .phone-info a {
        text-decoration: none;
        padding: 10px; }
  .phone .phone-body {
    background: #ffffff;
    height: 100%; }
    .phone .phone-body .phone-main {
      overflow: scroll;
      height: 580px; }
      .phone .phone-body .phone-main .relationship-input,
      .phone .phone-body .phone-main .reason-input,
      .phone .phone-body .phone-main .tone-input,
      .phone .phone-body .phone-main .person-input,
      .phone .phone-body .phone-main .final-message {
        padding: 20px;
        width: 60%;
        margin: 10px 40px;
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 300;
        letter-spacing: 2.7px;
        line-height: 25px; }
        @media (max-width: 450px) {
          .phone .phone-body .phone-main .relationship-input,
          .phone .phone-body .phone-main .reason-input,
          .phone .phone-body .phone-main .tone-input,
          .phone .phone-body .phone-main .person-input,
          .phone .phone-body .phone-main .final-message {
            width: 85%;
            margin: 20px 15px; } }
        .phone .phone-body .phone-main .relationship-input label[for="friend"],
        .phone .phone-body .phone-main .relationship-input label[for="family"],
        .phone .phone-body .phone-main .relationship-input label[for="partner"],
        .phone .phone-body .phone-main .reason-input label[for="friend"],
        .phone .phone-body .phone-main .reason-input label[for="family"],
        .phone .phone-body .phone-main .reason-input label[for="partner"],
        .phone .phone-body .phone-main .tone-input label[for="friend"],
        .phone .phone-body .phone-main .tone-input label[for="family"],
        .phone .phone-body .phone-main .tone-input label[for="partner"],
        .phone .phone-body .phone-main .person-input label[for="friend"],
        .phone .phone-body .phone-main .person-input label[for="family"],
        .phone .phone-body .phone-main .person-input label[for="partner"],
        .phone .phone-body .phone-main .final-message label[for="friend"],
        .phone .phone-body .phone-main .final-message label[for="family"],
        .phone .phone-body .phone-main .final-message label[for="partner"] {
          font-size: 1.7rem;
          padding: 7px;
          color: #ffffff;
          font-weight: 300;
          letter-spacing: 2.7px;
          line-height: 25px;
          text-transform: uppercase;
          -webkit-transition: 1s all ease;
          -o-transition: 1s all ease;
          transition: 1s all ease; }
          .phone .phone-body .phone-main .relationship-input label[for="friend"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="family"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="partner"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="friend"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="family"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="partner"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="friend"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="family"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="partner"]:hover,
          .phone .phone-body .phone-main .person-input label[for="friend"]:hover,
          .phone .phone-body .phone-main .person-input label[for="family"]:hover,
          .phone .phone-body .phone-main .person-input label[for="partner"]:hover,
          .phone .phone-body .phone-main .final-message label[for="friend"]:hover,
          .phone .phone-body .phone-main .final-message label[for="family"]:hover,
          .phone .phone-body .phone-main .final-message label[for="partner"]:hover {
            color: #212d40; }
        .phone .phone-body .phone-main .relationship-input label[for="really-hot"],
        .phone .phone-body .phone-main .relationship-input label[for="better-offer"],
        .phone .phone-body .phone-main .relationship-input label[for="called-back"],
        .phone .phone-body .phone-main .relationship-input label[for="dog-roll"],
        .phone .phone-body .phone-main .relationship-input label[for="nap-recover"],
        .phone .phone-body .phone-main .relationship-input label[for="actual-excuse"],
        .phone .phone-body .phone-main .relationship-input label[for="friendship-over"],
        .phone .phone-body .phone-main .relationship-input label[for="friends-still"],
        .phone .phone-body .phone-main .reason-input label[for="really-hot"],
        .phone .phone-body .phone-main .reason-input label[for="better-offer"],
        .phone .phone-body .phone-main .reason-input label[for="called-back"],
        .phone .phone-body .phone-main .reason-input label[for="dog-roll"],
        .phone .phone-body .phone-main .reason-input label[for="nap-recover"],
        .phone .phone-body .phone-main .reason-input label[for="actual-excuse"],
        .phone .phone-body .phone-main .reason-input label[for="friendship-over"],
        .phone .phone-body .phone-main .reason-input label[for="friends-still"],
        .phone .phone-body .phone-main .tone-input label[for="really-hot"],
        .phone .phone-body .phone-main .tone-input label[for="better-offer"],
        .phone .phone-body .phone-main .tone-input label[for="called-back"],
        .phone .phone-body .phone-main .tone-input label[for="dog-roll"],
        .phone .phone-body .phone-main .tone-input label[for="nap-recover"],
        .phone .phone-body .phone-main .tone-input label[for="actual-excuse"],
        .phone .phone-body .phone-main .tone-input label[for="friendship-over"],
        .phone .phone-body .phone-main .tone-input label[for="friends-still"],
        .phone .phone-body .phone-main .person-input label[for="really-hot"],
        .phone .phone-body .phone-main .person-input label[for="better-offer"],
        .phone .phone-body .phone-main .person-input label[for="called-back"],
        .phone .phone-body .phone-main .person-input label[for="dog-roll"],
        .phone .phone-body .phone-main .person-input label[for="nap-recover"],
        .phone .phone-body .phone-main .person-input label[for="actual-excuse"],
        .phone .phone-body .phone-main .person-input label[for="friendship-over"],
        .phone .phone-body .phone-main .person-input label[for="friends-still"],
        .phone .phone-body .phone-main .final-message label[for="really-hot"],
        .phone .phone-body .phone-main .final-message label[for="better-offer"],
        .phone .phone-body .phone-main .final-message label[for="called-back"],
        .phone .phone-body .phone-main .final-message label[for="dog-roll"],
        .phone .phone-body .phone-main .final-message label[for="nap-recover"],
        .phone .phone-body .phone-main .final-message label[for="actual-excuse"],
        .phone .phone-body .phone-main .final-message label[for="friendship-over"],
        .phone .phone-body .phone-main .final-message label[for="friends-still"] {
          font-size: 1.6rem;
          text-align: center;
          display: block;
          color: #ffffff;
          padding: 7px 0;
          margin: 10px 0;
          font-weight: 300;
          letter-spacing: 2.7px;
          line-height: 25px;
          text-transform: uppercase;
          -webkit-transition: 1s all ease;
          -o-transition: 1s all ease;
          transition: 1s all ease; }
          .phone .phone-body .phone-main .relationship-input label[for="really-hot"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="better-offer"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="called-back"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="dog-roll"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="nap-recover"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="actual-excuse"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="friendship-over"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="friends-still"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="really-hot"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="better-offer"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="called-back"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="dog-roll"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="nap-recover"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="actual-excuse"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="friendship-over"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="friends-still"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="really-hot"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="better-offer"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="called-back"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="dog-roll"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="nap-recover"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="actual-excuse"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="friendship-over"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="friends-still"]:hover,
          .phone .phone-body .phone-main .person-input label[for="really-hot"]:hover,
          .phone .phone-body .phone-main .person-input label[for="better-offer"]:hover,
          .phone .phone-body .phone-main .person-input label[for="called-back"]:hover,
          .phone .phone-body .phone-main .person-input label[for="dog-roll"]:hover,
          .phone .phone-body .phone-main .person-input label[for="nap-recover"]:hover,
          .phone .phone-body .phone-main .person-input label[for="actual-excuse"]:hover,
          .phone .phone-body .phone-main .person-input label[for="friendship-over"]:hover,
          .phone .phone-body .phone-main .person-input label[for="friends-still"]:hover,
          .phone .phone-body .phone-main .final-message label[for="really-hot"]:hover,
          .phone .phone-body .phone-main .final-message label[for="better-offer"]:hover,
          .phone .phone-body .phone-main .final-message label[for="called-back"]:hover,
          .phone .phone-body .phone-main .final-message label[for="dog-roll"]:hover,
          .phone .phone-body .phone-main .final-message label[for="nap-recover"]:hover,
          .phone .phone-body .phone-main .final-message label[for="actual-excuse"]:hover,
          .phone .phone-body .phone-main .final-message label[for="friendship-over"]:hover,
          .phone .phone-body .phone-main .final-message label[for="friends-still"]:hover {
            color: #212d40; }
        .phone .phone-body .phone-main .relationship-input.hide,
        .phone .phone-body .phone-main .reason-input.hide,
        .phone .phone-body .phone-main .tone-input.hide,
        .phone .phone-body .phone-main .person-input.hide,
        .phone .phone-body .phone-main .final-message.hide {
          display: none; }
        .phone .phone-body .phone-main .relationship-input.speech-bubble,
        .phone .phone-body .phone-main .reason-input.speech-bubble,
        .phone .phone-body .phone-main .tone-input.speech-bubble,
        .phone .phone-body .phone-main .person-input.speech-bubble,
        .phone .phone-body .phone-main .final-message.speech-bubble {
          position: relative;
          background: rgba(241, 143, 1, 0.7);
          border-radius: .4em; }
        .phone .phone-body .phone-main .relationship-input.speech-bubble-final,
        .phone .phone-body .phone-main .reason-input.speech-bubble-final,
        .phone .phone-body .phone-main .tone-input.speech-bubble-final,
        .phone .phone-body .phone-main .person-input.speech-bubble-final,
        .phone .phone-body .phone-main .final-message.speech-bubble-final {
          background: rgba(225, 85, 84, 0.8);
          position: relative;
          border-radius: .4em;
          left: 30%; }
          @media (max-width: 450px) {
            .phone .phone-body .phone-main .relationship-input.speech-bubble-final,
            .phone .phone-body .phone-main .reason-input.speech-bubble-final,
            .phone .phone-body .phone-main .tone-input.speech-bubble-final,
            .phone .phone-body .phone-main .person-input.speech-bubble-final,
            .phone .phone-body .phone-main .final-message.speech-bubble-final {
              left: 10%; } }
      .phone .phone-body .phone-main .relationship-input {
        margin-top: 100px; }
    .phone .phone-body .typing-indicator {
      background-color: rgba(241, 143, 1, 0.7);
      will-change: transform;
      width: auto;
      border-radius: 50px;
      padding: 15px;
      display: table;
      margin: 5px auto;
      position: absolute;
      bottom: 12.8%;
      right: 42%;
      -webkit-animation: 2s bulge infinite ease-out;
      animation: 2s bulge infinite ease-out; }
      @media (max-width: 450px) {
        .phone .phone-body .typing-indicator {
          display: none; } }
      @media (max-width: 320px) {
        .phone .phone-body .typing-indicator {
          display: none; } }
      .phone .phone-body .typing-indicator span {
        height: 15px;
        width: 15px;
        float: left;
        margin: 0 1px;
        background-color: rgba(225, 85, 84, 0.8);
        display: block;
        border-radius: 50%;
        opacity: 0.4; }
        .phone .phone-body .typing-indicator span:nth-of-type(1) {
          -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s; }
        .phone .phone-body .typing-indicator span:nth-of-type(2) {
          -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s; }
        .phone .phone-body .typing-indicator span:nth-of-type(3) {
          -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s; }

@-webkit-keyframes blink {
  50% {
    opacity: 1; } }

@keyframes blink {
  50% {
    opacity: 1; } }

@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }
  .phone .phone-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 12vh;
    padding: 20px;
    background-color: rgba(105, 153, 93, 0.97); }
    .phone .phone-footer .person-text-field {
      width: 100%; }
      .phone .phone-footer .person-text-field .who-question {
        width: 100%; }
        .phone .phone-footer .person-text-field .who-question .who-bail {
          font-size: 1.3rem;
          color: #000000;
          font-weight: 300;
          letter-spacing: 2.7px;
          line-height: 25px;
          text-transform: uppercase;
          width: 95%;
          padding: 10px 0px 10px 18px;
          border: 3px solid #A1C181; }
    .phone .phone-footer .submit-button-section .submit-button {
      font-size: 1rem;
      color: #ffffff;
      font-weight: 300;
      letter-spacing: 2.7px;
      line-height: 25px;
      font-weight: 400;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-transform: uppercase;
      background-color: rgba(241, 143, 1, 0.7); }

.scroll-to-bottom {
  margin-top: 40px;
  display: block; }

input[type="radio"] {
  display: none; }
