article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: rgba(33, 45, 64, 0.9); }

li {
  list-style: none; }

.icon {
  color: white; }

.hide-dots {
  visibility: hidden;
  opacity: 0; }

.phone {
  width: 40%;
  margin: 0 auto;
  margin-top: 25px;
  height: 95vh;
  position: relative;
  font-size: 2rem;
  -webkit-box-shadow: 5px 10px 37px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 10px 37px -2px rgba(0, 0, 0, 0.75); }
  @media (max-width: 940px) {
    .phone {
      width: 70%; } }
  @media (max-width: 450px) {
    .phone {
      width: 100%;
      height: 90vh;
      margin-top: 0; } }
  @media (max-width: 320px) {
    .phone {
      width: 100%;
      height: 90vh;
      margin-top: 0; } }
  .phone .phone-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.3rem;
    width: 40%;
    background-color: rgba(105, 153, 93, 0.97);
    position: fixed;
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10; }
    @media (max-width: 940px) {
      .phone .phone-heading {
        width: 70%; } }
    @media (max-width: 450px) {
      .phone .phone-heading {
        width: 100%;
        position: absolute; } }
    @media (max-width: 320px) {
      .phone .phone-heading {
        width: 100%;
        position: absolute; } }
    .phone .phone-heading .phone-utils {
      width: 10%; }
    .phone .phone-heading .contact-info {
      width: 80%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    .phone .phone-heading .phone-info {
      width: 10%;
      height: 34px;
      display: block;
      text-align: center; }
      .phone .phone-heading .phone-info a {
        text-decoration: none;
        padding: 10px; }
  .phone .phone-body {
    background: #ffffff;
    height: 100%; }
    .phone .phone-body .phone-main {
      overflow: scroll;
      height: 580px; }
      .phone .phone-body .phone-main .relationship-input,
      .phone .phone-body .phone-main .reason-input,
      .phone .phone-body .phone-main .tone-input,
      .phone .phone-body .phone-main .person-input,
      .phone .phone-body .phone-main .final-message {
        padding: 20px;
        width: 60%;
        margin: 10px 40px;
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 300;
        letter-spacing: 2.7px;
        line-height: 25px; }
        .phone .phone-body .phone-main .relationship-input label[for="who-are-they"],
        .phone .phone-body .phone-main .reason-input label[for="who-are-they"],
        .phone .phone-body .phone-main .tone-input label[for="who-are-they"],
        .phone .phone-body .phone-main .person-input label[for="who-are-they"],
        .phone .phone-body .phone-main .final-message label[for="who-are-they"] {
          font-size: 1.7rem;
          padding: 7px;
          color: #ffffff;
          font-weight: 300;
          letter-spacing: 2.7px;
          line-height: 25px;
          text-transform: uppercase;
          -webkit-transition: 1s all ease;
          -o-transition: 1s all ease;
          transition: 1s all ease; }
          .phone .phone-body .phone-main .relationship-input label[for="who-are-they"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="who-are-they"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="who-are-they"]:hover,
          .phone .phone-body .phone-main .person-input label[for="who-are-they"]:hover,
          .phone .phone-body .phone-main .final-message label[for="who-are-they"]:hover {
            color: #212d40; }
        .phone .phone-body .phone-main .relationship-input label[for="why-bail"],
        .phone .phone-body .phone-main .relationship-input label[for="tone"],
        .phone .phone-body .phone-main .reason-input label[for="why-bail"],
        .phone .phone-body .phone-main .reason-input label[for="tone"],
        .phone .phone-body .phone-main .tone-input label[for="why-bail"],
        .phone .phone-body .phone-main .tone-input label[for="tone"],
        .phone .phone-body .phone-main .person-input label[for="why-bail"],
        .phone .phone-body .phone-main .person-input label[for="tone"],
        .phone .phone-body .phone-main .final-message label[for="why-bail"],
        .phone .phone-body .phone-main .final-message label[for="tone"] {
          font-size: 1.6rem;
          text-align: center;
          display: block;
          color: #ffffff;
          padding: 7px 0;
          margin: 10px 0;
          font-weight: 300;
          letter-spacing: 2.7px;
          line-height: 25px;
          text-transform: uppercase;
          -webkit-transition: 1s all ease;
          -o-transition: 1s all ease;
          transition: 1s all ease; }
          .phone .phone-body .phone-main .relationship-input label[for="why-bail"]:hover,
          .phone .phone-body .phone-main .relationship-input label[for="tone"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="why-bail"]:hover,
          .phone .phone-body .phone-main .reason-input label[for="tone"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="why-bail"]:hover,
          .phone .phone-body .phone-main .tone-input label[for="tone"]:hover,
          .phone .phone-body .phone-main .person-input label[for="why-bail"]:hover,
          .phone .phone-body .phone-main .person-input label[for="tone"]:hover,
          .phone .phone-body .phone-main .final-message label[for="why-bail"]:hover,
          .phone .phone-body .phone-main .final-message label[for="tone"]:hover {
            color: #212d40; }
        .phone .phone-body .phone-main .relationship-input.hide,
        .phone .phone-body .phone-main .reason-input.hide,
        .phone .phone-body .phone-main .tone-input.hide,
        .phone .phone-body .phone-main .person-input.hide,
        .phone .phone-body .phone-main .final-message.hide {
          display: none; }
        .phone .phone-body .phone-main .relationship-input.speech-bubble,
        .phone .phone-body .phone-main .reason-input.speech-bubble,
        .phone .phone-body .phone-main .tone-input.speech-bubble,
        .phone .phone-body .phone-main .person-input.speech-bubble,
        .phone .phone-body .phone-main .final-message.speech-bubble {
          position: relative;
          background: rgba(241, 143, 1, 0.7);
          border-radius: .4em; }
        .phone .phone-body .phone-main .relationship-input.speech-bubble-final,
        .phone .phone-body .phone-main .reason-input.speech-bubble-final,
        .phone .phone-body .phone-main .tone-input.speech-bubble-final,
        .phone .phone-body .phone-main .person-input.speech-bubble-final,
        .phone .phone-body .phone-main .final-message.speech-bubble-final {
          background: rgba(225, 85, 84, 0.8);
          position: relative;
          border-radius: .4em;
          left: 30%; }
      .phone .phone-body .phone-main .relationship-input {
        margin-top: 100px; }
  .phone .phone-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 12vh;
    padding: 20px;
    background-color: rgba(105, 153, 93, 0.97); }
    .phone .phone-footer .person-text-field {
      width: 100%; }
      .phone .phone-footer .person-text-field .who-question {
        width: 100%; }
        .phone .phone-footer .person-text-field .who-question .who-bail {
          width: 95%;
          padding: 10px 0 10px 0;
          border: 3px solid #A1C181; }
    .phone .phone-footer .submit-button-section .submit-button {
      font-size: 1rem;
      color: #ffffff;
      font-weight: 300;
      letter-spacing: 2.7px;
      line-height: 25px;
      font-weight: 400;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-transform: uppercase;
      background-color: rgba(241, 143, 1, 0.7); }

.scroll-to-bottom {
  margin-top: 75px;
  display: block; }

.typing-indicator {
  background-color: #E88D67;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 5px auto;
  position: absolute;
  bottom: 13.5%;
  right: 42%;
  -webkit-animation: 2s bulge infinite ease-out;
  animation: 2s bulge infinite ease-out; }
  .typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: white;
    display: block;
    border-radius: 50%;
    opacity: 0.4; }
    .typing-indicator span:nth-of-type(1) {
      -webkit-animation: 1s blink infinite 0.3333s;
      animation: 1s blink infinite 0.3333s; }
    .typing-indicator span:nth-of-type(2) {
      -webkit-animation: 1s blink infinite 0.6666s;
      animation: 1s blink infinite 0.6666s; }
    .typing-indicator span:nth-of-type(3) {
      -webkit-animation: 1s blink infinite 0.9999s;
      animation: 1s blink infinite 0.9999s; }

@-webkit-keyframes blink {
  50% {
    opacity: 1; } }

@keyframes blink {
  50% {
    opacity: 1; } }

@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

input[type="radio"] {
  display: none; }
